/* Inserta tu CSS aqui */

.cesped{
	background:#0B610B;
	height: 550px;
	width: 830px;

}
.limites{
	border: 2px solid white;
	width: 800px;	
	height: 500px;
	position: absolute;
	left: 20px;
	top: 25px;
}
.arco-iz {
	border: 1px solid white;
	position: relative;
	width: 150px;
	height: 250px;
	left: 13px;
	top:25%;

}
.arco-der {
	border: 1px solid white;
	position: relative;
	width: 150px;
	height: 250px;
	left: 80%;
	bottom: 21%;
}
.circulo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	top: 26%;
	left:25%;
	border: 2px solid white;
}
.bolis1 {
position: relative;
bottom: 70%;
left: 20%;

}

.bolis2 {
position: relative;
bottom: 77%;
left: 48%;
}

.bolis3{
position: relative;
left: 70%;
bottom: 25%;
}