/* Inserta tu CSS aqui */

.first{
	background:#0B610B;
	width: 1000px;
	height: 550px;
	margin: 0;
	position: relative;
	top: 80px;
	left: 15%;
}
.second{
	border: 2px solid white;
	width: 800px;	
	height: 500px;
	position: absolute;
	bottom: 15px;
	left: 25%;
}
.arco{
	border: 2px solid white;
	position: absolute;
	width: 100px;
	height: 250px;
	left: 25%;
	top:40%;

}
.arco2{
	border: 2px solid white;
	position: absolute;
	width: 100px;
	height: 250px;
	left: 77%;
	top: 40%;
}

.circulo{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	top: 45%;
	left: 50%;
	border: 2px solid white;

}